# =========================================================
# ROS 2
# =========================================================
**/build/
**/install/
**/log/

# =========================================================
# Python
# =========================================================
__pycache__/
*.py[cod]
*.so

# Entornos virtuales
.venv/
venv/
env/

# =========================================================
# Jupyter
# =========================================================
.ipynb_checkpoints/

# =========================================================
# MATLAB
# =========================================================
*.asv
*.m~
slprj/
*.slxc

# =========================================================
# VS Code
# =========================================================
.vscode/

# =========================================================
# Sistema operativo
# =========================================================
.DS_Store
Thumbs.db

# =========================================================
# Archivos temporales
# =========================================================
*.tmp
*.temp
*.swp
*~

# =========================================================
# Logs
# =========================================================
*.log

# =========================================================
# Firmware (PlatformIO) / backups pesados
# =========================================================
.pio/
firmware/**/*.zip
