# ROS 2
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# MATLAB
*.asv
*.m~
slprj/
*.slxc

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.temp
*.swp
*~

# Logs
*.log