<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Pata_Robo_Parcial_URDF_V1.2">
  <link
    name="Base_link">
    <inertial>
      <origin
        xyz="0.81995 3.347E-07 9.745E-05"
        rpy="0 0 0" />
      <mass
        value="26.056" />
      <inertia
        ixx="0.7959"
        ixy="1.6789E-14"
        ixz="-1.9851E-07"
        iyy="1.47"
        iyz="1.3268E-08"
        izz="2.1151" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/Base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89412 0.89412 0.89412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/Base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Hip_Link">
    <inertial>
      <origin
        xyz="0.059729 0.0001899 -0.00021766"
        rpy="0 0 0" />
      <mass
        value="0.19411" />
      <inertia
        ixx="5.2459E-05"
        ixy="-1.017E-07"
        ixz="-1.017E-07"
        iyy="8.9433E-05"
        iyz="-6.4685E-10"
        izz="8.9433E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/Hip_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89412 0.89412 0.89412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/Hip_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Hip_Joint"
    type="revolute">
    <origin
      xyz="0.083749 0 0.2004"
      rpy="1.5708 0 0" />
    <parent
      link="Base_link" />
    <child
      link="Hip_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="100"
      velocity="100" />
  </joint>
  <link
    name="Knee_Link">
    <inertial>
      <origin
        xyz="0.12138 0.00022499 0.00023022"
        rpy="0 0 0" />
      <mass
        value="0.21755" />
      <inertia
        ixx="0.00017367"
        ixy="7.9209E-10"
        ixz="-8.4058E-09"
        iyy="0.00053617"
        iyz="-3.2733E-09"
        izz="0.00039504" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/Knee_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/Knee_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Knee_Joint"
    type="revolute">
    <origin
      xyz="0.11945 0 0"
      rpy="-1.5708 0 0" />
    <parent
      link="Hip_Link" />
    <child
      link="Knee_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="100"
      velocity="100" />
  </joint>
  <link
    name="Ankle_Link">
    <inertial>
      <origin
        xyz="0.14628 -0.012034 -0.00027145"
        rpy="0 0 0" />
      <mass
        value="0.38215" />
      <inertia
        ixx="0.00046168"
        ixy="3.9328E-05"
        ixz="-1.1677E-07"
        iyy="0.00052581"
        iyz="1.7837E-08"
        izz="0.00059799" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/Ankle_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89412 0.89412 0.89412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/Ankle_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Ankle_Joint"
    type="revolute">
    <origin
      xyz="0.23605 0 0"
      rpy="3.1416 0 0" />
    <parent
      link="Knee_Link" />
    <child
      link="Ankle_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="100"
      velocity="100" />
  </joint>
</robot>