<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Ensamble de pierna final_5">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.015925 3.4694E-18 7.3249E-05"
        rpy="0 0 0" />
      <mass
        value="0.082493" />
      <inertia
        ixx="5.2472E-05"
        ixy="9.1764E-21"
        ixz="1.0787E-07"
        iyy="4.7915E-05"
        iyz="-2.3752E-20"
        izz="3.2322E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Ensamble de pierna final_5/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Ensamble de pierna final_5/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_right_hip">
    <inertial>
      <origin
        xyz="0.0058537 0.015285 0.00015947"
        rpy="0 0 0" />
      <mass
        value="0.056618" />
      <inertia
        ixx="1.8002E-05"
        ixy="1.7027E-06"
        ixz="4.3857E-08"
        iyy="1.0107E-05"
        iyz="-4.7843E-08"
        izz="1.7795E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Ensamble de pierna final_5/meshes/link_right_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Ensamble de pierna final_5/meshes/link_right_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_right_hip"
    type="revolute">
    <origin
      xyz="0.045367 0.0014 0.041357"
      rpy="1.5708 -0.0025308 0" />
    <parent
      link="base_link" />
    <child
      link="link_right_hip" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.5"
      upper="0.5"
      effort="2.942"
      velocity="4.71" />
  </joint>
  <link
    name="link_right_upper_leg">
    <inertial>
      <origin
        xyz="0.019625 -1.0625E-06 1.0346E-05"
        rpy="0 0 0" />
      <mass
        value="0.045892" />
      <inertia
        ixx="7.9589E-06"
        ixy="5.2936E-13"
        ixz="-2.3578E-08"
        iyy="1.2729E-05"
        iyz="-3.9569E-13"
        izz="9.1733E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Ensamble de pierna final_5/meshes/link_right_upper_leg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Ensamble de pierna final_5/meshes/link_right_upper_leg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_right_upper_leg"
    type="revolute">
    <origin
      xyz="0.0354 0.0143 0"
      rpy="-1.5708 0 0" />
    <parent
      link="link_right_hip" />
    <child
      link="link_right_upper_leg" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.5"
      upper="0.5"
      effort="2.942"
      velocity="4.71" />
  </joint>
  <link
    name="link_right_lower_leg">
    <inertial>
      <origin
        xyz="0.022125 1.3477E-06 -5.6548E-06"
        rpy="0 0 0" />
      <mass
        value="0.049475" />
      <inertia
        ixx="8.4659E-06"
        ixy="-5.2936E-13"
        ixz="2.7449E-08"
        iyy="1.3126E-05"
        iyz="-3.9569E-13"
        izz="9.5561E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Ensamble de pierna final_5/meshes/link_right_lower_leg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Ensamble de pierna final_5/meshes/link_right_lower_leg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_right_lower_leg"
    type="revolute">
    <origin
      xyz="0.0612 0 -0.000205"
      rpy="-3.1416 0 0" />
    <parent
      link="link_right_upper_leg" />
    <child
      link="link_right_lower_leg" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.5"
      upper="0.5"
      effort="2.942"
      velocity="4.71" />
  </joint>
  <link
    name="link_right_foot">
    <inertial>
      <origin
        xyz="-0.0096414 -2.2772E-09 -9.8182E-09"
        rpy="0 0 0" />
      <mass
        value="0.037428" />
      <inertia
        ixx="1.5647E-05"
        ixy="-2.2034E-14"
        ixz="9.2718E-13"
        iyy="8.6757E-06"
        iyz="1.5418E-12"
        izz="8.4184E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Ensamble de pierna final_5/meshes/link_right_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Ensamble de pierna final_5/meshes/link_right_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_right_foot"
    type="fixed">
    <origin
      xyz="0.0871 0 0"
      rpy="0 0 0" />
    <parent
      link="link_right_lower_leg" />
    <child
      link="link_right_foot" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="-0.5"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_left_hip">
    <inertial>
      <origin
        xyz="0.0058537 -0.015285 0.00015947"
        rpy="0 0 0" />
      <mass
        value="0.056618" />
      <inertia
        ixx="1.8002E-05"
        ixy="-1.7026E-06"
        ixz="4.3856E-08"
        iyy="1.0107E-05"
        iyz="4.7841E-08"
        izz="1.7795E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Ensamble de pierna final_5/meshes/link_left_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Ensamble de pierna final_5/meshes/link_left_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_left_hip"
    type="revolute">
    <origin
      xyz="0.045575 0.0014 -0.041126"
      rpy="1.5708 -0.0025308 0" />
    <parent
      link="base_link" />
    <child
      link="link_left_hip" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.5"
      upper="0.5"
      effort="2.942"
      velocity="4.71" />
  </joint>
  <link
    name="link_left_upper_leg">
    <inertial>
      <origin
        xyz="0.019625 -1.0608E-06 -1.0346E-05"
        rpy="0 0 0" />
      <mass
        value="0.045892" />
      <inertia
        ixx="7.9589E-06"
        ixy="-5.2951E-13"
        ixz="2.3578E-08"
        iyy="1.2729E-05"
        iyz="-3.9551E-13"
        izz="9.1733E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Ensamble de pierna final_5/meshes/link_left_upper_leg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Ensamble de pierna final_5/meshes/link_left_upper_leg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_left_upper_leg"
    type="revolute">
    <origin
      xyz="0.0354 -0.0143 0"
      rpy="-1.5708 0 0" />
    <parent
      link="link_left_hip" />
    <child
      link="link_left_upper_leg" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.5"
      upper="0.5"
      effort="2.942"
      velocity="4.71" />
  </joint>
  <link
    name="link_left_lower_leg">
    <inertial>
      <origin
        xyz="0.022125 1.3461E-06 5.6548E-06"
        rpy="0 0 0" />
      <mass
        value="0.049475" />
      <inertia
        ixx="8.4659E-06"
        ixy="5.2951E-13"
        ixz="-2.7449E-08"
        iyy="1.3126E-05"
        iyz="-3.9551E-13"
        izz="9.5561E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Ensamble de pierna final_5/meshes/link_left_lower_leg.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Ensamble de pierna final_5/meshes/link_left_lower_leg.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_left_lower_leg"
    type="revolute">
    <origin
      xyz="0.0612 0 0.000205"
      rpy="3.1416 0 0" />
    <parent
      link="link_left_upper_leg" />
    <child
      link="link_left_lower_leg" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.5"
      upper="0.5"
      effort="2.942"
      velocity="4.71" />
  </joint>
  <link
    name="link_left_foot">
    <inertial>
      <origin
        xyz="-0.0096414 -1.3835E-08 -9.6462E-08"
        rpy="0 0 0" />
      <mass
        value="0.037428" />
      <inertia
        ixx="1.5647E-05"
        ixy="5.444E-13"
        ixz="3.4681E-12"
        iyy="8.6756E-06"
        iyz="1.522E-11"
        izz="8.4184E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Ensamble de pierna final_5/meshes/link_left_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Ensamble de pierna final_5/meshes/link_left_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="link_left_foot"
    type="fixed">
    <origin
      xyz="0.0865000000000001 0 0"
      rpy="0 0 0" />
    <parent
      link="link_left_lower_leg" />
    <child
      link="link_left_foot" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="4.71" />
  </joint>
</robot>